@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply text-gray-800;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.wrapper {
  flex: 1 1;
}

.shadow-up-md {
  box-shadow: 0 -4px 6px -1px #e0e7ff, 0 -2px 4px -2px #e0e7ff;
}

.card-image {
  @apply flex justify-center items-center;
  background-color: #ececec;
  width: 250px;
  min-height: 374px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 24ch;
}

@media (min-width: 480px) {
  .xs\:inline {
    display: inline;
  }
  .xs\:text-left {
    text-align: left;
  }
  .xs\:flex-row {
    flex-direction: row;
  }
  .xs\:text-left {
    text-align: left;
  }
  .xs\:flex-row {
    flex-direction: row;
  }
}

.link {
  @apply font-medium text-red-800 hover:text-red-600;
}

.centered {
  @apply flex-1 w-full flex justify-center items-center;
}
