@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply text-gray-800;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.wrapper {
  flex: 1 1;
}

.shadow-up-md {
  box-shadow: 0 -4px 6px -1px #e0e7ff, 0 -2px 4px -2px #e0e7ff;
}

.main-bg {
  flex: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  pointer-events: none;
}

.gradient {
  height: fit-content;
  z-index: -1;
  background-image: radial-gradient(
      150% 1200px at 0 0,
      rgb(58, 230, 253) 0px,
      transparent 50%
    ),
    radial-gradient(
      150% 1200px at 100% 500px,
      rgb(149, 58, 253) 0px,
      transparent 40%
    ),
    radial-gradient(
      150% 1200px at -20% 2200px,
      rgb(253, 58, 227) 0px,
      transparent 50%
    ),
    radial-gradient(
      150% 1200px at 120% 2900px,
      rgb(58, 71, 253) 0px,
      transparent 50%
    );
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.55;
}

.card-image {
  @apply flex justify-center items-center;
  background-color: #ececec;
  width: 250px;
  min-height: 374px;
}

.card-content {
  width: 250px;
}

.counter input[type="number"]::-webkit-inner-spin-button,
.counter input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 24ch;
}

@media (min-width: 480px) {
  .xs\:inline {
    display: inline;
  }
  .xs\:text-left {
    text-align: left;
  }
  .xs\:flex-row {
    flex-direction: row;
  }
  .xs\:text-left {
    text-align: left;
  }
  .xs\:flex-row {
    flex-direction: row;
  }
}

.link {
  @apply font-medium text-red-800 hover:text-red-600;
}
